body {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Container*/

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}


/*header*/

.header {
    width: 100%;
    padding: 15px ;
    background: linear-gradient(135deg, #0079bf, #5067c5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_1 {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.btn_1:hover {
    text-decoration: underline;
}

.btn_2 {
    padding: 8px 15px;
    background-color: #fff;
    color: #0079bf;
    text-decoration: none;
    border-radius: 3px;
}

/*Intro*/

.intro { 
    background: linear-gradient(135deg, #0079bf, #5067c5);   
}

.intro__inner {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    padding: 100px 15px 0;
    width: 100%;  
}

.col__1 {
    max-width: 40%;
}

.intro__title{
    color:#fff;
    font-weight: 500;
    line-height: 1.2;
    font-size: 48px;
    margin: 0px 0px 8px
}

.intro__text{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    margin-top: 0;
}


.col__2{
    margin-left: 100px;
}
.img__intro{
    display: block;
    max-width: 100%;
    height: auto;
}

/*email*/

.email {
    width: 100%;
    display: flex;
    padding-bottom: 80px;
}
   
.email__input {
    width: 40%;
    height: 55px;
    background: #fff;
    border: 2px solid #e7e7e7;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 300;
    line-height: 43px;
    border-radius: 4px;
}

.email__input:focus {
    outline: 0;
    border-color:  #5067c5;
}


.email__button {
    width:40%;
    height: 55px;
    background-color: #61BD4F;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    line-height: 43px;
    color: #fff;
    margin-left: 10px;
}

.email__button:hover {
    background-color: rgb(62, 145, 45);
}

.email__button:focus {
    outline: 0;
}
